<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to our app</h1>
    <h2>the post was written by </h2>
    <%= @username %>
    <h2>the post's title is </h2>
    <%= @title %>
    <h2>the post says </h2>
    <%= @text %>
    <h2>it was created at </h2>
    <%= @time %>
    <h2>-thank you and have a good day-</h2>

  </body>
</html>
